<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lllr.test.breast.dao.mapper.AudioMapper">
  <resultMap id="BaseResultMap" type="lllr.test.breast.dataObject.popularization.Audio">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="audioURL" jdbcType="VARCHAR" property="audiourl" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, audioURL, category, cover_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from audio
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from audio
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="lllr.test.breast.dataObject.popularization.Audio">
    insert into audio (id, title, audioURL, 
      category, cover_url)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{audiourl,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lllr.test.breast.dataObject.popularization.Audio">
    insert into audio
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="audiourl != null">
        audioURL,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="audiourl != null">
        #{audiourl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lllr.test.breast.dataObject.popularization.Audio">
    update audio
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="audiourl != null">
        audioURL = #{audiourl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lllr.test.breast.dataObject.popularization.Audio">
    update audio
    set title = #{title,jdbcType=VARCHAR},
      audioURL = #{audiourl,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAudioList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from audio
  </select>
</mapper>