<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lllr.test.breast.dao.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="lllr.test.breast.dataObject.question.Question">
    <id column="q_id" jdbcType="INTEGER" property="qId" />
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="q_type" jdbcType="INTEGER" property="qType" />
    <result column="q_content" jdbcType="VARCHAR" property="qContent" />
    <result column="q_opstions" jdbcType="VARCHAR" property="qOpstions" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    q_id, t_id, q_type, q_content, q_opstions
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where q_id = #{qId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where q_id = #{qId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="lllr.test.breast.dataObject.question.Question">
    insert into question (q_id, t_id, q_type, 
      q_content, q_opstions)
    values (#{qId,jdbcType=INTEGER}, #{tId,jdbcType=INTEGER}, #{qType,jdbcType=INTEGER}, 
      #{qContent,jdbcType=VARCHAR}, #{qOpstions,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lllr.test.breast.dataObject.question.Question">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qId != null">
        q_id,
      </if>
      <if test="tId != null">
        t_id,
      </if>
      <if test="qType != null">
        q_type,
      </if>
      <if test="qContent != null">
        q_content,
      </if>
      <if test="qOpstions != null">
        q_opstions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qId != null">
        #{qId,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="qType != null">
        #{qType,jdbcType=INTEGER},
      </if>
      <if test="qContent != null">
        #{qContent,jdbcType=VARCHAR},
      </if>
      <if test="qOpstions != null">
        #{qOpstions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lllr.test.breast.dataObject.question.Question">
    update question
    <set>
      <if test="tId != null">
        t_id = #{tId,jdbcType=INTEGER},
      </if>
      <if test="qType != null">
        q_type = #{qType,jdbcType=INTEGER},
      </if>
      <if test="qContent != null">
        q_content = #{qContent,jdbcType=VARCHAR},
      </if>
      <if test="qOpstions != null">
        q_opstions = #{qOpstions,jdbcType=VARCHAR},
      </if>
    </set>
    where q_id = #{qId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lllr.test.breast.dataObject.question.Question">
    update question
    set t_id = #{tId,jdbcType=INTEGER},
      q_type = #{qType,jdbcType=INTEGER},
      q_content = #{qContent,jdbcType=VARCHAR},
      q_opstions = #{qOpstions,jdbcType=VARCHAR}
    where q_id = #{qId,jdbcType=INTEGER}
  </update>
  
  
  <select id="getQuestions"  parameterType="integer" resultMap="BaseResultMap">
      select
       <include refid="Base_Column_List" />
      from question
      where t_id = #{tid}
  </select>
</mapper>